# .NET build artifacts
bin/
obj/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
# VS Code and Visual Studio folders
.vscode/
.vs/
# Mac and Windows system files
.DS_Store
Thumbs.db
# Logs
*.log
# NuGet packages
*.nupkg
# Other
TestResult*/
