bin/
obj/
*.user
*.suo
.vs/
.vscode/
TestResult*/

# NuGet packages
*.nupkg

# Rider project files
.idea/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.dbmdl
*.bak
*.swp
*.tmp

# Uncomment if you use Docker
# docker-compose.override.yml

RecruitmentSystem/RecruitmentSystem.API/appsettings.json
RecruitmentSystem/RecruitmentSystem.API/appsettings.Development.json