bin/
obj/
*.user
*.suo
.vs/
.vscode/
TestResult*/

# NuGet packages
*.nupkg

# Rider project files
.idea/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.dbmdl
*.bak
*.swp
*.tmp
*.md

RecruitmentSystem/RecruitmentSystem.API/appsettings.json
RecruitmentSystem/RecruitmentSystem.API/appsettings.Development.json
RecruitmentSystem/RecruitmentSystem.Tests
RecruitmentSystem/RecruitmentSystem.postman_collection.json